networks:
  elastic-net:
    name: elastic-net
    driver: bridge

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.1
    container_name: elasticsearch
    ports:
      - "127.0.0.1:9200:9200"
    environment:
      - ELASTIC_PASSWORD=changeme
      - discovery.type=single-node
      - xpack.security.http.ssl.enabled=false
      - xpack.license.self_generated.type=trial
    networks:
      - elastic-net
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    ports:
        - 11434:11434
    volumes:
        - ./ollama/data:/root/.ollama
        - ./ollama/entrypoint.sh:/entrypoint.sh:ro
    container_name: ollama
    pull_policy: always
    tty: true
    restart: always
    entrypoint: ["/usr/bin/bash", "/entrypoint.sh"]
    networks:
      - elastic-net
    env_file:
      - .env

  ollama-webui:
    image: ghcr.io/ollama-webui/ollama-webui:main
    container_name: ollama-webui
    ports:
      - "3001:8080"
    depends_on:
      - ollama
    environment:
      - OLLAMA_API_BASE_URL=http://ollama:11434/api
    networks:
      - elastic-net
    restart: unless-stopped

  retrieval-agent:
    build:
      context: ./retrieval-agent-template
      dockerfile: Dockerfile
    container_name: retrieval-agent
    ports:
      - "8000:8000"
    volumes:
      - ./retrieval-agent-template:/app
      - retrieval-agent-venv:/usr/local/lib/python3.11/site-packages
    working_dir: /app
    env_file:
      - ./retrieval-agent-template/.env
    depends_on:
      - elasticsearch
    networks:
      - elastic-net
    restart: unless-stopped

volumes:
  ollama_data:
  retrieval-agent-venv:
